.ads-management-tnx-root {
	text-align: left !important;
}
.ads-management-tnx-label {
	justify-content: start !important;
	width: 100% !important;
}
.ads-management-tnx-label-child {
	width: 100% !important;
}

.ads-management-tnx-button {
	width: 100% !important;
}

.ads-management-tnx-dropdown {
	width: 100% !important;
}

.ads-management-tnx-dropdown-coin {
	width: 220px !important;
	overflow-y: scroll !important;
}
