.wallet-header {
	background-image: url(/img/wallet-bg.png);
	box-shadow: inset 2000px 0 0 0 rgb(21 69 136 / 90%);
}
.select__account {
	background-color: #3b5e8e;
}
.wallet_nav_link_active {
	border-bottom: 1px solid #000;
	padding-bottom: 3px;
}
